<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
<% if user_signed_in? -%> <!-- Provided by devise -->
<div style="float:right">
  <%= current_user.email %> |
 <%= link_to '用户信息', edit_user_registration_path %> |
 <%= link_to '退出登陆', destroy_user_session_path, :method => :delete %> | 
 <%= link_to image_tag("tsina_24_24.png"), '/auth/tsina', :title=> "连接新浪" %>
</div>
<% end %>
<% unless user_signed_in? -%>
<div style="float:right">
  <%= link_to '注册', new_user_registration_path %> |
  <%= link_to '登录', new_user_session_path %>
</div>
<% end -%>