<!DOCTYPE html>
<html>
<head>
  <title>Diode</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag params[:controller] %>
  <%= stylesheet_link_tag params[:controller] %>
  <style type="text/css">
    body {
      padding-top: 60px;
    }
    .content {
		min-width:940px;
    }
    p.pull-right {
    color:#BFBFBF;
    }
    img.header_msg{
        vertical-align:middle;
    }
  </style>

  <%= render :partial => "layouts/fav_touch" %>
  <%= csrf_meta_tags %>
</head>
<body>
   
<%= render :partial => "layouts/topbar" %>

<div class="container-fluid">
     <%= render :partial => "layouts/sidebar" %>

     <div class="content">
       <!-- Main hero unit for a primary marketing message or call to action -->
       <div class="hero-unit">
         <h1>Hello, world!</h1>
         <h4>Session</h4> <%= debug(session) %> <h4>Params</h4> <%= debug(params) %> 
         <%= yield %>
         <p><a class="btn primary large">Learn more &raquo;</a></p>
       </div>

       <!-- Example row of columns -->
       <div class="row">
         <div class="span5">
            <h2>24小时最热</h2>
            <% 5.times do%>
            <div class="row">
                <div class="span5">
                    <p>Etiam porta sem malesuada magna mollis euismod. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
                    <p><a class="btn" href="#">View details &raquo;</a></p>
                </div>
            </div>
            <hr>
            <%end%>
        </div>
        <div class="span6">
           <h2>本周最热</h2>
            <% 5.times do%>
            <div class="row">
            	<div class="span6">
                        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                       <p><a class="btn" href="#">View details &raquo;</a></p>
                </div>
            </div>
            <hr>
            <%end%>
         </div>
         <div class="span5">
           <h2>本月最热</h2>
           <% 5.times do%>
			<div class="row">
				<div class="span5">

           <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
           <p><a class="btn" href="#">View details &raquo;</a></p>
				</div>
			</div>
			<hr>
			<%end%>
         </div>
       </div>

       <hr>

       <!-- Example row of columns -->
       <div class="row">
         <div class="span6">
           <h2>Heading</h2>
           <p>Etiam porta sem malesuada magna mollis euismod. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
           <p><a class="btn" href="#">View details &raquo;</a></p>
         </div>
         <div class="span5">
           <h2>Heading</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
           <p><a class="btn" href="#">View details &raquo;</a></p>
        </div>
         <div class="span5">
           <h2>Heading</h2>
           <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
           <p><a class="btn" href="#">View details &raquo;</a></p>
         </div>
       </div>

     </div>
		<%= render :partial => "layouts/footer" %>
   </div>



</body>
</html>
