<!DOCTYPE html>
<html>
<head>
  <title>Diode</title>
  <%= stylesheet_link_tag    "application","devise_user" %>
  <%= javascript_include_tag "application" %>
  
  <%= render :partial => "layouts/fav_touch" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render :partial => "layouts/topbar" %>
<!-- layout file used for devise user register & login etc-->
<div class="container">

      <div class="content">
        <div class="page-header">
          <h1>段子社区<small>千金难买一笑 ; )</small></h1>
        </div>
        <div class="row">
            <div class="span4">
                <h3>高质量段子分享社区</h3>
            </div>
            <div class="span10">
                <h2></h2>
                <%= yield %>
            </div>
        </div>
      </div>

      <%= render :partial => "layouts/footer" %>
    </div>
</body>
</html>