<!DOCTYPE html>
<html>
<head>
  <title>Diode</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag params[:controller] %>
  <%= stylesheet_link_tag params[:controller] %>

  <%= render :partial => "layouts/fav_touch" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render :partial => "layouts/topbar" %>
<!-- layout file used for user settings etc-->
<div class="container">

      <div class="content">
		<!-- >
        <div class="page-header">
          <h1>段子社区<small>千金难买一笑 ; )</small></h1>
        </div>
		-->
        <div class="row">
            <div class="span4 ">
                <div class="well">
			         <h5>个人资料</h5>
			         <ul>
			           <li><%= link_to '账号设置', settings_index_path %></li>
			           <li><%= link_to 'Link','http://www.google.com.hk' %></li>
			           <li><a href="#">Link</a></li>
			           <li><a href="#">Link</a></li>
			         </ul>
			         <h5>热门标签</h5>
			         <ul>
			           <li><a href="#">Link</a></li>
			           <li><a href="#">Link</a></li>
			           <li><a href="#">Link</a></li>
			           <li><a href="#">Link</a></li>
			           <li><a href="#">Link</a></li>
			           <li><a href="#">Link</a></li>
			         </ul>
			</div>
            </div>
            <div class="span10 fix-margin">
				<div class="ok">
                <%= yield %>
				</div>
            </div>
        </div>
      </div>

      <%= render :partial => "layouts/footer" %>

    </div>
</body>
</html>